<div id="show-question" class="container">
  <%= @question %><br>
  <p>- You</p>
</div>

<div id="show-answer" class="container">
  <%= @answer %>
  <p>- Your Coach</p>
</div>

<%= link_to "Ask another question", "/ask" %>
